.swiper {
  user-select: none;
}

.navItem {
  button:hover {
    transform: scale(1.1);
  }
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-right: 20px;
    background-color: var(--text-color);
    color: var(--bg-color);
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.141);
    transition: transform 0.5s;
  }
}
#menu{
  display: none;
  svg{
    height: 100%;
  }
  cursor: pointer;
}
#cart:hover::after{
  content: "Your Cart";
  position: absolute;
  top: 50px;
  border: 1px solid var(--bg-color);
  background-color: var(--text-color);
  color: var(--bg-color);
  font-size: 12px;
  white-space: nowrap;
  padding: 3px 10px;
  border-radius:4px;
  left: -5px;

}
#cart:has(.cart-empty):hover::after{
  content: "Empty Cart :(";
}
#cart{
  position: relative;
  padding: 10px;
  height: max-content;
  border-radius: 4px;
  transition: background-color .5s;
}
#cart:focus-within{
  background-color: var(--text-color);
  svg{
    stroke: var(--bg-color);
  }
  .cart-container{
    display: flex;
  }
}


#cart .cart-container{
  border: 1px solid var(--text-color);
  display: flex;
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 60px;
  border-radius: 8px;
  /* width: max-content; */
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 20px;
  flex-direction: column;
  width: 400px;
  transform: translateX(-50%);
  h1,h6,h5{
    margin: 0;
  }
  h1{
    display: flex;
    align-items: center;
    font-size: 25px;
    column-gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
  }
  svg{
    stroke: var(--text-color);
  }
  h6{
    font-size: 16px;
  }
  img{
    width: 150px;
    border-radius: 8px;
    margin-bottom: 20px;
    align-self: center;
  }
  div{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  h5{
    font-size: 15px;
  }
  a{
    background-color: #40c057;
    color: black;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    width: calc(100% - 20px);
    margin-top: 15px;
  }
  
  .items{
    div{
      display: grid;
      grid-template-columns: auto 1fr auto auto;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      background-color: var(--text-color);
      border-radius: 4px;
      padding: 10px;
      color: var(--bg-color);
      column-gap: 5px;
      margin-bottom: 20px;
      h3{
        margin: 0;
        margin-left: 10px;
        justify-self: start;
      }
      select{
        border: none;
        outline: none;
        background-color: var(--bg-color);
        color: var(--text-color);
        padding: 5px;
        border-radius: 4px;
      }
      img{
        grid-column: 1;
        grid-row: 1/3;
        height: 50px;
        width: 50px;
        margin: 0;
      }
      p{
        grid-column: 2/4;
        margin: 0;
        padding-left: 10px;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        color: var(--bg-color);
      }
      svg:hover{
        background-color: orangered;
        stroke: var(--text-color);
      }
      svg{
        grid-column: 4;
        grid-row: 1/3;
        border-radius: 2px;
        height: 30px;
        stroke: orangered;
      }
    }
  }
}

#cart h4{
  position: absolute;
  top: 0px;
  right: -5px;
  color: black;
  background-color: #1c7ed6;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin: 0;
}
#cart:has(.cart-empty){
  h4{
    display: none;
  }
}
#cart .cart-empty{
  div{
    display: none;
  }
}
.sliderImg:hover {
  transform: scale(1.05);
}

.card-number{
  letter-spacing: 3px;
  font-weight: bold;
  outline: none;
}
.card-number::placeholder{
  letter-spacing: unset;
  font-weight: normal;
}
#logged-out{
  #mobile{
    display: none;
  }
}
#logged-in{
  display: none;
  align-items: center;
  column-gap: 10px;
}
/* #logged-in h1 */
#logged-in h1:hover{
  background-color: var(--text-color);
  color: var(--bg-color);
  svg{
    stroke: var(--bg-color);
  }
  span{
    color: var(--bg-color);
  }
}
#log-out:hover{
  stroke: orangered;
}
#log-out{
  margin-right: 10px;
  stroke: var(--text-color);
}
#logged-in h1{
  display: flex;
  padding: 5px 15px;
  border-radius: 8px;
  align-items: center;
  margin: 0;
  column-gap: 10px;
  color: black;
  transition: background-color .4s,color .6s;
  cursor: pointer;
  svg{
    height: 30px;
    stroke: var(--text-color);
  }
  span{
    text-transform: capitalize;
    color: var(--text-color);
    font-size: 20px;
  }
}



.login{
  position: fixed;
  top: 0;
  z-index: 100;
  min-width: 50vw;
  min-height: 50vh;
  /* margin-left: 25vw; */
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--bg-color);
  padding: 20px;
  color: white;
  border-radius: 8px;
  display: grid;
  display: none;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.101);
}
.login h2,h1,p,input,button{
  color: var(--text-color);
}
.login h2{
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  span{
    font-size: 16px;
    font-weight: normal;
  }
}
.login img{
  height: 30vh;
  grid-column: 2;
  grid-row: 2/5;
  justify-self: center;
  align-self: center;
}
.login p{
  position: absolute;
  right: 5px;
  cursor: pointer;
  top: 0px;
  padding: 10px;
  svg{
    height: 30px;
  }
  svg:hover{
    stroke: red;
  }
}
.login h1{
  margin-bottom: 60px;
  font-size: 50px;
  cursor: default;
  position: relative;
  width: max-content;
  color: var(--text-color);
  padding-right: 15px;
  text-shadow: 1px 1px var(--bg-color);
}
.login h1::after{
  content: '';
  height: 2px;
  position: absolute;
  bottom: -10px;
  width: 100%;
  left: 0;
  background-color: var(--text-color);
}

.login input:focus{
  border: 2px solid dodgerblue;
}

.login input{
  width: 100%;
  display: block;
  outline: none;
  border: none;
  margin-bottom: 20px;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 16px;
  color: black;
  background-color: #dbe4ff;
  border-radius: 8px;
  backdrop-filter: blur(20px) brightness(90%);
}
.login div{
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: space-between;
}
.login button:hover{
  background-color: var(--text-color);
  color: var(--bg-color);
}
.login #forgot:hover{
  text-decoration: underline;
}
.login #forgot{
  margin: 0;
  font-size: 12px;
  color: dodgerblue;
  cursor: pointer;
}
.login button{
  height: 50px;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  /* background-color: black;
  color: white; */
  cursor: pointer;
  border: 2px solid var(--text-color);
  font-weight: bold;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 10px 30px;
  transition: background-color .5s,color .6s;
}
.login button:has(svg):hover{
  transform: rotate(180deg) scale(.95);
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.058);
  background-color:#007aff;
}
.login button:has(svg){
  border-radius: 50%;
  background-color:#007aff;
  /* border: 2px solid white; */
  padding: 15px;
  margin-right: 25px;
  height: unset;
  border: none;
  transition: transform 1s,box-shadow 1s;
  svg{
    height: 20px;
    stroke: white;
  }
}

.savedAddresses{
  display: none;
  max-width: 85vw;
  height: 100%;
  width: 100%;
  /* backdrop-filter: blur(30px); */
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
  position: absolute;
  top: 0;
  padding: 30px;
  border-radius: 8px;
  left: 0;
  nav{
    display: flex;
    justify-content: space-between;
    background-color: unset;
    padding: unset;
    width: 100%;
    position: unset;
    border-bottom: none;
  }
  button:hover{
    transform: scale(1.05);
  }
  button{
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform .7s;
  }
  button:last-child{
    background-color: #37b24d;
    color: white;
  }
  button:first-child{
    background-color: #1971c2;
    color: white;
  }
}
.address{
  display: grid;
  grid-template-columns: auto 1fr;
  /* border: 2px solid darkgrey; */
  border-radius: 4px;
  padding: 10px;
  column-gap: 20px;
  input{
    grid-column: 1;
    grid-row: 1/4;
    align-self: flex-start;
  }
  h1,h2,h3{
    margin: 0;
    text-transform: capitalize;
  }
  h1{
    font-size: 23px;
  }
  h2{
    font-size: 12px;
    color: grey;
    margin-bottom: 10px;
  }
  h3{
    font-size: 13px;
  }
}
.card{
  width: max-content;
  height: max-content;
  position: relative;
  align-self: center;
  margin-bottom: 20px;
  img{
    height: 25vh;
    border-radius: 12px;
  }
  h3,h4,h5,p{
    position: absolute;
    color: rgb(161, 159, 159);
  }
  h3{
    top: 52%;
    left: 30px;
    margin: 0;
    letter-spacing: 5px;
  }
  h4{
    bottom: 0;
    left: 20px;
    font-weight: normal;
  }
  h5{
    top: 60%;
    left: 40%;
  }
  p{
    bottom: 15px;
    right: 18%;
  }
}

.swiper-button-next:hover::after, .swiper-button-prev:hover::after{
  transform: scale(1.1);
  opacity: 1;
}
.swiper-button-next::after, .swiper-button-prev::after{
  color: white;
  opacity: .7;
  transition: transform .7s;
}

.order{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.401);
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 200;
  img{
    border-radius: 4px;
  }
  div{
    position: relative;
    width: max-content;
    height: max-content;
  }
  h1{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
  }
  p{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
  }
}

.pinky{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #0000004c;
  backdrop-filter: blur(4px);
  z-index: 150;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  div{
    width: max-content;
    background-color: var(--bg-color);
    border: 2px solid var(--text-color);
    border-radius: 8px;
    padding: 25px;
  }
  img{
    height: 35vh;
    display: block;
    width: max-content;
    margin: 0 auto;
  }
  h2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    margin-top: 30px;
  }
  button:hover{
    transform: scale(1.1);
  }
  button{
    border: none;
    padding: 15px 30px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: transform .3s;
  }
  button:first-child{
    background-color: #fa5252;
  }
  button:last-child{
    background-color: #40c057;
  }
}

@media (max-width: 1200px){
  .login{
    min-width: 65vw;
  }
}
@media (max-width: 900px){
  .login{
    min-width: 75vw;
  }
}
@media (max-width: 700px) {
  .login{
    width: 80vw;
    grid-template-columns: 1fr;
  }
  .login img{
    display: none;
  }
  .login h2{
    display: none;
  }
}



@media (max-width: 1300px) {
  .search{
    padding-left: 10px;
    border: none;
    input{
      display: none;
    }
  }
}

@media (max-width: 1160px){
  .menuItem {
    margin-right: 30px;
    font-size: 16px;
  }
  #logged-in h1 span{
      display: none;
  }
}
@media (max-width: 1050px){
  nav{
    justify-content: unset;
  }
  .navItem:first-child{
    margin-right: auto;
  }
  #cart{
    margin: 0 20px;
  }
  #menu{
    height: 30px;
    display: block;
  }
  .search{
    margin: 0 10px;
  }
  .navBottom {
    display: none;
    position: absolute;
    top: 81px;
    flex-direction: column;
    z-index: 40;
    width: 100%;
    left: 0;
    background-color: var(--bg-color);
  }
}

@media (max-width: 600px) {
  .pinky{
    img{
      height: unset;
      width: 80vw;
    }
  }

  .search{
    display: none;
  }

  #logged-out{
    position: relative;
    button:nth-child(2){
      left: -200%;
    }
    button{
      display: none;
      position: absolute;
      top: 50px;
      white-space: nowrap;
      border: 2px solid var(--bg-color);
    }
    #mobile{
      position: unset;
      display: block;
      padding: 0;
        border: none;
        border-radius: 4px;
        background-color: transparent;
        color: var(--text-color);
        cursor: pointer;
        box-shadow: none;
    }
    #mobile:focus-within ~ button{
      display: block;
    }
  }



  .logo{
    width: 80px;
    height: unset;
  }
  
  #cart .cart-container {
    transform: translateX(-59%);
  }
  #log-out{
    display: none;
  }
}